.task_histories
{

	.even-odd-bg  div.columns
	{
		box-shadow: 1px 1px #888,-1px -1px #ccc;
		border-radius: 5px;
		padding:10px;
	}

	.even-odd-bg:nth-child(2n + 1)  div.columns
	{
		box-shadow: -1px -1px #888,1px 1px #ccc;
	}
	.even-odd-bg  .two.columns
	{
		margin:5px;
		width:calc(16.66% - 10px);
	}

	.even-odd-bg  .three.columns
	{
		margin:5px;
		width:calc(25% - 10px);
	}
	.even-odd-bg  .six.columns
	{
		margin:5px;
		width:calc(50% - 10px);
	}

	.manager_note
	{
		margin-top:20px;
	}

	> div
	{
		margin-top:10px;
	}
}